@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .open {
        display: block;
    }
    .menu.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 24px;
    }
    .close.active {
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 110;
        display: block;
        width: 60px;
    }
}